div.header {
  background-color: orange;
}

#title {
  color: white;
}

div#nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div#nav li{
  display: inline-block;
  position: relative;
}

div#nav a{
  display: block;
  height: 20px;
  width: 50px;
  color: white;
  text-align: center;
  background-color: black;
  text-decoration: none;
}
