<nav>
    <ul>
      <li><a href="{% url 'home' %}">Acceuil</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href=" {% url 'about' %} ">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
</nav>
