{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>le site de faufau</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "/static/css/home.css" %}">
  </head>
  <body>
    <div class="header">
        {% block title %}
        <h1 id = 'title'>Voici mon site !</h1>
        {% endblock %}
        <div id="nav">
          {% include "layouts/nav.html" %}
        </div>
    </div>


      {% block content %}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit
          , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident
          , sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      {% endblock %}
  </body>
{% include "layouts/footer.html" %}
</html>
